@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #282c34;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centerStuff{
  align-items: center!important;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* To enable scrolling */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

html {

}
#Cursor {
  background-color: transparent;
  border:1px solid black;    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  height: 80vmax;
  width: 130vmax;  
  position: absolute;
}

.tile {
  border-radius: 2rem;
  position: absolute;
  z-index: 30;
  transition: transform 800ms ease;
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover > div {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.01);
  transition: all 800ms ease;
  cursor: pointer;
}

.tile > div > img {
  border-radius: inherit;
}
.tile:hover > div > img {
  border-radius: inherit;
}

.tile > div > div > h2 {
  border-radius: inherit;
  
}

.tile > div {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 1;
  filter: blur(4px);
  transition: all 800ms ease,
    transform 800ms ease;
}



/* .meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
} */

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.textShadow {
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.coolHeader{
  /* transform: rotate3d(30, 10, 20, 35deg); */
  /* transform: rotateY(-5deg); */
  /* transform: rotateX(-15deg); */
  transform: rotateZ(-5deg);
}
